.button {
	display: grid;
	justify-items: center;
	border: 0 solid;
	cursor: pointer;
	gap: 0.2em;
	box-sizing: border-box;
	font-size: 0.7em;
	grid-template-columns: minmax(0, 1fr);
	min-height: 4em;
	width: 4.5em;
}

.buttonIcon {
	font-size: 2em;
	align-self: end;
}

.button.action {
	background-color: transparent;
	color: var(--color-accent-1);
}

.button.action .buttonIcon {
	font-size: 1.5em;
}

.button.nav {
	background-color: transparent;
	color: var(--color-accent-2);
	height: 6em;
	width: 6em;
}

.button.nav .buttonIcon {
	align-self: start;
	font-size: 4em;
}

.button.nav.active {
	color: var(--color-accent-1);
}

.button.menu {
	background-color: var(--color-site-2);
	color: var(--color-site-1-c);
	border-radius: 0.3em;
}

.button.invisible {
	all: initial;
	display: flex;
	place-content: center;
	place-items: center;
	font: inherit;
	color: inherit;
	cursor: pointer;
	width: 100%;
}
