.menu {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) auto auto;
	gap: 0.2em;
	padding: 0.2em;
}

.menuBtn {
	display: grid;
	justify-items: center;
}

.menuIcon {
	font-size: 2em;
}

.dateContainer {
	display: flex;
	justify-content: space-between;
}
