.menuBar {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) auto auto;
	gap: 0.2em;
	padding: 0.2em;
	position: relative;
}

.menuBtn {
	display: grid;
	justify-items: center;
}

.menuIcon {
	font-size: 2em;
}

.dateWrapper {
	padding: 0 0.5em;
}

.dateContainer {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1em solid var(--color-site-1-c-3);
}

.day {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

.date {
	display: block;
	font-size: 0.7em;
}

.search {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto auto;
	grid-template-rows: minmax(0, 1fr);
	gap: 0.2em;
	background-color: var(--color-site-2);
	width: calc(100vw - 3.5em);
	height: 3.05em;
	border: 0 solid;
	border-radius: 0.3em;
	padding: 0.2em;
	box-sizing: border-box;
}

.searchForm {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(0);
	transition: transform 0.2s;
	z-index: 2;
}

.searchForm[inert] {
	transform: translateY(-100%);
}

.mainMenuSection {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);
	height: 100vh;
	width: calc(100vw - 3.5em);
	background-color: var(--color-site-1);
	box-shadow: 0.2em 0 1em rgba(0, 0, 0, 0.5);
	border: 0 solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-right: 0.15em solid var(--color-site-2);
	overflow: hidden;
	z-index: 2;
	transition: transform 0.2s, box-shadow 0.2s;
}

.mainMenuSection[inert] {
	transform: translateX(-100%);
	box-shadow: 0.2em 0 1em transparent;
}

.mainMenuHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 0.5em;
	background-color: var(--color-site-2);
}

.mainMenuHeading {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.menu,
.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu {
	display: grid;
	gap: 0.12em;
}

.menuItem {
	background-color: var(--color-site-2);
	display: flex;
	gap: 0.5em;
	padding: 0.5em 2em;
	width: 100%;
	font-size: 1em;
	align-items: center;
	box-sizing: border-box;
}

.menuItem.location:not(.active) {
	color: var(--color-accent-2);
}

.menuItemIcon {
	color: var(--color-accent-2);
	font-size: 2em;
}

.searchInput {
	padding: 0.5em;
	border: none;
	background-color: var(--color-accent-2);
	color: var(--color-accent-2-c);
	border: 0 solid;
	border-radius: 0.3em;
	font-size: 1em;
}

.searchInput::placeholder {
	color: var(--color-accent-2-c);
	font-style: italic;
}

.menuSection {
	padding-top: 2em;
}

.timeInput {
	background-color: var(--color-accent-2);
	color: var(--color-accent-2-c);
	font-size: 1em;
	border: 0 solid;
	border-radius: 0.3rem;
	padding: 0.2em;
}

.resetButtonWrapper {
	display: flex;
	justify-content: end;
	flex: 1;
}

.menuHeading {
	margin: 0;
	font-size: 0.8em;
	font-weight: normal;
	text-align: center;
	padding-bottom: 0.5em;
}
