.menu {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) auto auto;
	gap: 0.2em;
	padding: 0.2em;
	position: relative;
}

.menuBtn {
	display: grid;
	justify-items: center;
}

.menuIcon {
	font-size: 2em;
}

.dateWrapper {
	padding: 0 0.5em;
}

.dateContainer {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1em solid var(--color-site-1-c-3);
}

.day {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

.date {
	display: block;
	font-size: 0.7em;
}

.search {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto auto;
	grid-template-rows: minmax(0, 1fr);
	gap: 0.2em;
	background-color: var(--color-site-2);
	width: calc(100vw - 3.5em);
	height: 3.05em;
	border: 0 solid;
	border-radius: 0.3em;
	padding: 0.2em;
	box-sizing: border-box;
}
.searchForm {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(0);
	transition: transform 0.2s;
}
.searchForm[aria-hidden='true'] {
	transform: translateY(-100%);
}

.searchInput {
	padding: 0.5em;
	border: none;
	background-color: var(--color-accent-2);
	color: var(--color-accent-2-c);
	border: 0 solid;
	border-radius: 0.3em;
	font-size: 1em;
}

.searchInput::placeholder {
	color: var(--color-accent-2-c);
	font-style: italic;
}
