.schedule {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr) auto;
  background-color: var(--color-site-1);
  color: var(--color-site-1-c);
  height: 100%;
}

.scheduleBody {
  overflow: auto;
}
