.schedule {
	display: grid;
	grid-template-rows: auto auto minmax(0, 1fr) auto;
	background-color: var(--color-site-1);
	color: var(--color-site-1-c);
	height: 100%;
	--font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	--color-site-1: #252525;
	--color-site-1-c: #fff;
	--color-site-2: #343235;
	--color-accent-1: #d5a0ff;
	--color-accent-2: #9f98ab;
	font-family: var(--font);
	font-size: 1em;
}

.scheduleBody {
	overflow: auto;
}
